footer{
    position: absolute;
    bottom:0%;
    width:100%;
}

.py-4{
    background-color: rgba(57, 57, 57, 1);
}

.footer-copy{
    color:   rgba(233, 233, 233, 1);
    font-size: 1.3em;
}

html {
     position: relative;
    min-height: 100%;
  }

