footer{
    position: absolute;
    bottom:0%;
    width:100%;
}

.footer-forau{
    font-size: 6.25em;
    color: #E5E5E5;
}

.py-4{
    background-color: #393939;
}

.footer-copy{
    color: #E5E5E5;
}

html {
    position: relative;
    min-height: 100%;
  }

