.IniciarSesion{
    background-color: #F6F6F6;
    overflow-x: hidden;
}

.que{
font-style: normal;
font-weight: normal;
font-size: 3.5em;
line-height: 5.0 em;
color: #393939;
position: relative;
left: -140%;
}

.quesi{
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 5.0 em;
    color:#393939;
    position: relative;
    left:-2%;
    top: 1.4em;
}

.ttxt{
    font-style: normal;
    font-weight: normal;
    margin-left: 0px;
    text-align: left;
    letter-spacing: 0.01em;
    color: #393939;
    position: relative;
    left:-11%;
}

.linea-regi {
    transform: rotate(90deg);
    position: absolute;
    top: 4em;
    width: 18em;
    border-top: 1px solid black;
    right: 3em;
}


.txto {
    background-color: transparent;
    border: none transparent;
    outline: none;
    position: relative;
    top: 5em;
    left: 8em;
    font-family: "pop";
    color: rgba(57, 57, 57, 1);
    font-weight: 400;
    font-size: 20px;
    margin-top: .9em;
}

.linea-texto{
    position: absolute;
    left: 11.3em;
    width: 20em;
    
}

.l1{
    position: absolute;
    top:8.2em;
}
.l2{
    position: absolute;
    top: 11.3em;
}
.l3{
    position: absolute;
    top: 17.95em;
}

.a-sesion{
    color:  #393939;
}

.imagen{
    position: relative;
    top: 5.625em;
    right: 21.875 em;
}

.boto3{
    background-color: rgba(57, 57, 57, 1);
    color:rgba(217, 217, 217, 1);
    border-radius: 1.8125em;
    font-family: "pop";
    border:3px solid #393939;
    transition: 0.6s;
    padding: 0.5em 2em;
    font-size: 0.9375em;
    outline:none;
    position: relative;
    top: 9em;
    left:17em;
}

.divBoton{
    position: absolute;
    right:28%;
    top:48%;
}

.obli-texto{
    position: absolute;
    left: 14.2em;
    width: 16.8125em;
    color: red;
    visibility: hidden;
    font-size: 0.8em;
}

.ya{
    position: relative;
    left: 13.5em;
    top: 5.7em;
}

.ya2{
    position: relative;
    left: 15.6em;
    top: 4.7em;
    color: #393939;
    text-decoration: underline;
}

.ya2:hover{
    color: #393939;
    text-decoration: underline;
}

.nen{
    position: absolute;
    left: 28em;
}
