.brand-log{
    font-family: "pop";
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #393939;
    transition: 0.3s;
    position: relative;
}

.user{
    font-size: 1.5em;
}

.brand-log:hover{
    color:#4b3a3a;
    text-decoration: none;
}

.linea{
    position: relative;
    border: 0 none #393939;
    border-top: 1px solid #393939;
    top:-16px;
    box-shadow: 0px 3px 15px black;
}
.nav-com{
font-family: "pop";
font-style: normal;
font-weight: 600;
font-size: 1.5em;
line-height: 2.25em;
display: flex;
align-items: center;
text-align: center;
color: #393939;
transition: 0.3s;
opacity:0.6;
}

.nav-com:hover{
    color:#4b3a3a;
}

.nav-reg{
font-family: "pop";
font-style: normal;
font-weight: 25.000em;
font-size: 1.5em;
line-height: 2.25em;
display: flex;
align-items: center;
text-align: center;
color: #ffff;
}

@font-face{
    font-family: "pop";
    src: url(/poppins/Poppins-Regular.ttf);
    
}


.boton1{
    background-color: #393939;
    color:white;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    font-family: "pop";
    border:2px solid #393939;
    transition: 0.6s;
    padding: 0.5em 1em;
    font-size: 1.5em;
}

.boton1:hover{
    background-color: #4b3a3a;
    
}

.boton1:active{
    background-color: black;
}

.boton2:hover{
    background-color: lightgrey;
}

.boton2:active{
    background-color: white;
}


.boton2{
    background-color: rgba(233, 233, 233, 1);
    border-color: transparent;
    color: rgba(57, 57, 57, 1);
    border-radius: 29px;
    font-family: "pop";
    transition: 0.6s;
    padding: 0.5em 1em;
    font-size: 1.5em;
}

.dropdown{
    position: absolute;
    top: 60px;
    min-width: 350px;
    transform: translateX(-80%);
    background-color: rgba(243, 243, 243, 1);
    border-radius:.7em ;
    padding: 1rem;
    overflow: hidden;

    transition: height 500ms ease;
}

.dropM{
    min-height: 340px;
}

.dropN{
    min-width: 400px;
}

.titMen{
    transform: translateX(0.3em);
    color: rgba(57, 57, 57, 1);
    font-size: 1.5em;
    border-bottom: 1px solid rgba(211, 211, 211, 1) ;
    padding-bottom: .2em;
}

.ceroNotificaciones{
    color: rgba(152, 152, 152, 1);
}

:root{
    --nav-size:50px;
    --speed:200ms;
}

.menu{
    width: 100%;
}

.menu-primary-enter{
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active{
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-primary-exit{
    position: absolute;
}

.menu-primary-exit-active{
    transform: translateX(-110%);
    transition: all 500ms ease;
}

.menu-secondary-enter{
    transform: translateX(110%);
}

.menu-secondary-enter-active{
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-secondary-exit{
    position: absolute;
}

.menu-secondary-exit-active{
    transform: translateX(110%);
    transition: all 500ms ease;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navba-nav{
    max-width: 100%;
    max-height: var(--nav-size);
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    position: relative;
    bottom: 5em;
}

.icon-right{
    margin-left: auto;
}

.menu-item{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 0.7em;
    transition: background var(--speed);
}

.menu-item:hover{
    background-color: rgba(231, 231, 231, 1);
    text-decoration: none;
}

.nav-item{
    display: initial;
    align-items: center;
    justify-content: center;
    width: calc(var(--nav-size)*0.8);
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1rem;
}

.icon-button:hover{
    filter: brightness(1.5);
}

.dropItems{
    color: rgba(57, 57, 57, 1);
    text-decoration: none;
}

.dropItems:hover{
    color: rgba(57, 57, 57, 1);
    text-decoration: transparent;
}

.navbar{
    background-color: #F6F6F6;
    min-height: 7em;
}

.sombra{
    background-color: #F6F6F6;
    box-shadow: 0px 0.1px 10px;  
}

.navbarPrinc{
    position: fixed;
    max-height: 7em;
    min-width: 100%;
    z-index: 100;
    background-color: rgba(246, 246, 246, 1);
}

.buscar{
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 1000;
    min-width: 21em;
} 

.search{
    font-size: 24px;
    border: rgba(57, 57, 57, 1) 2px solid;
    border-radius: 9px;
    max-width: 25em;
    position: absolute;
    bottom: 1.5em;
    left: 27em;
}

