.Inicio{
    
    overflow-x: hidden;
}
/*p{
    text-align: center;
}*/
.que{

font-family: "pop";
font-style: normal;
font-weight: normal;
font-size: 3.5em;
line-height: 5.0 em;
color: #393939;
position: relative;
left: -140%;
}

.ques{
    font-family: "pop";
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 5.0 em;
    color: #393939;
    position: relative;
    left:-5%;
}

.texto{
    font-family: "pop";
    font-style: normal;
    font-weight: normal;
    margin-left: 0px;
    text-align: left;
    letter-spacing: 0.01em;
    color: #393939;
    position: relative;
    left:8%;
}

.linea-reg {
    transform: rotate(90deg);
    position: relative;
    width: 28.875em;
    border-top: 1px solid black;
    
  }

.text {
    background-color: transparent;
    border: none transparent;
    outline: none;
    position: relative;
    left: 70%;
    font-family: "pop";

}

.linea-texto{
    position: absolute;
    left: 70%;
    width: 16.8125em;
}

.li1{
    position: absolute;
    bottom:24.9em;
}
.li2{
    position: absolute;
    bottom: 20.3em;
}
.li3{
    position: absolute;
    bottom: 15.7em;
}
.li4{
    position: absolute;
    bottom: 11.1em;
}
.li5{
    position: absolute;
    bottom: 6.5em;
}
.li6{
    position: absolute;
    bottom: 1.9em;
}
.a-sesion{
    font-family: "pop";
    color:  #393939;
}

.imagen{
    position: relative;
    top: 5.625em;
    right: 21.875 em;
}

.placeh{
    position: relative;
    right: 30%;
}

@font-face{
    font-family: "pop";
    src: url(components/poppins/Poppins-Regular.ttf);
}

.nena{
    position: absolute;
    left: 30em;
}

.boton3{
    background-color: transparent;
    color:#393939;
    border-radius: 1.8125em;
    font-family: "pop";
    border:3px solid #393939;
    transition: 0.6s;
    padding: 0.5em 2em;
    font-size: 0.9375em;
    outline:none;
    position: relative;
    right: -223%;
    top: 5em;
    z-index: 1;
}

.divBoton{
    position: absolute;
    right:28%;
    top:48%;
}

.obl-texto{
    position: absolute;
    left: 70%;
    width: 16.8125em;
    color: red;
    visibility: hidden;
    font-size: 0.8em;
}

.obl{
    position: absolute;
    top: 5.5em;
}

.obl1{
    position: absolute; 
    top: 11.2em;
}

.obl2{
    position: absolute;
    top: 17em;
}

.obl3{
    position: absolute;
    top: 22.7em;
}

.obl4{
    position: absolute;
    top: 28.5em;
}

.obl5{
    position: absolute;
    top: 34.3em;
}

.ya{
    position: absolute;
    left: 14.2em;
    top: 6em;
}

.ya2{
    position: absolute;
    left: 16.4em;
    top: 7.7em;
    color: #393939;
    text-decoration: underline;
}

.ya2:hover{
    color: #393939;
    text-decoration: underline;
}