.princ{
    overflow-x: hidden;
    font-family: pop;
    /*background: #F9EAB7;*/
    overflow-y: hidden;
}

.configuracion{
    background-color: #E3E3E3;
    overflow-x: hidden;
    font-family: pop;
    overflow-y: hidden;
}

.guardados{
    background-color: #E3E3E3;
    overflow-x: hidden;
    font-family: pop;
    overflow-y: hidden;
}

.princEdu{
    overflow-x: hidden;
    font-family: pop;
    margin-right: 15em;
    margin-left: 15em;
    background: rgb(30,198,67, 0.35) ;
}

@font-face{
    font-family: "pop";
    src: url(components/poppins/Poppins-Regular.ttf);
}

.misGa{
    position: fixed;
    top: 16.3em;
    background-color: #f6f6f6;
    border-radius:2em;
    max-width: 18.27em;
}


.misGa1{
    position: fixed;
    top: 44.3em;
    background-color: #f6f6f6;
    border-radius:2em;
    max-width: 18.27em;
}

.misG{
    background-color: transparent;
    border-radius:2em;
    position: relative;
    top: 14.8em;
    z-index: 4;
}

.misGuard{
    background-color: rgba(246, 246, 246, 1);
    border-radius:2em;
    position: fixed;
    left: 41em;
    top: 12.4em;
    max-width: 38em;
    z-index: 4;
}

.misS{
    position: fixed;
    top: 12em;
    background-color: #DADADA;
    border-radius:2em;
    max-width: 18.27em;
    max-height: 3.7em;
}

.misS1{
    position: fixed;
    top: 40em;
    background-color: #DADADA;
    border-radius:2em;
    max-width: 18.27em;
    max-height: 3.7em;
}

.misI{
    position: fixed;
    background-color: #DADADA;
    border-radius:2em;
    max-width: 28em;
    max-height: 3.7em;
    top: 8em;
    z-index: 10;
}

.misIG{
    position: fixed;
    background-color: #DADADA;
    border-radius:2em;
    max-width: 20em;
    max-height: 3.7em;
    top: 8em;
    z-index: 10;
}

.botonVolver{
    background-color: #E9E9E9;
    border-color: transparent;
    border-radius: 29px;
}

.fondo{
    background-color: #f6f6f6;
    position: fixed;
    min-width: 38.3em;
    border-radius: 2em;
    min-height: 80em;
    z-index: 3;
    top: 14.5em;
}

.asa{
    background-color:  #f6f6f6;
    position: fixed;
    min-width: 38.3em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    min-height: 2.8em;
    z-index: 7;
    top: 13.6em;
}

.asas{
    background-color: #E3E3E3;
    position: fixed;
    min-height: 8.5em;
    top: 7em;
    z-index: 7;
    min-width: 40em;
    color: rgba(249, 234, 183, 1);
}

.misC{
    position: relative;
    left: 3%;
    font-size: 1.5em;
    background-color: #f6f6f6;
    border-radius:2em;
    width: 30px;
}

.cat{
    font-size: 2em;
}

.selGuar{
    font-size: 1.6em;
}

.publicaciones{
    border-color: #E3E3E3;
    border-width: 0.4em;
    border-style: solid;
    border-radius: 1em;
} 

.guardadosCats{
    border-color:#DADADA;
    border-width: 0.5em;
    border-style: solid;
    border-radius: 1em;
    z-index: 1;
}

.lineaGuar{
    border-width: 1px;
    background-color: rgba(233, 233, 233, 0.5);
}

#btnGuard{
    background-color: rgba(57, 57, 57, 0.13);
    min-width: 15em;
    text-align: left;
    border-radius: .8em;
    max-height: 2.4em;
}

.pibe{
    font-size: 1.25em;
}

.botonP{
    background-color:  #C5C5C5;
    border-radius: 1.8125em;
    border:none transparent;
    font-family: "pop";
    transition: 0.6s;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    outline:none;
}

.botonE{
    background-color:  #C5C5C5;
    border-radius: 1.8125em;
    border:none transparent;
    font-family: "pop";
    transition: 0.6s;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1em;
    outline:none;
}

.a{
    float: right;
}

.cont{
    max-width: 67%;
}

.imagenP{
    background-color: #E3E3E3 ;
    border-radius: 2em;
}

.lineaP{
    border-width: .125em;
    color: #828282;
    
}

.boton{
    background-color: white;
    border: none;
    text-decoration: none;
}

#btnEdu:hover{
    color: rgba(3, 99, 13, 1);
}

#btnTec:hover{
    color:rgba(4, 95, 146, 1);
}

#btnSal:hover{
    color:rgba(148, 0, 0, 1);
}

#btnDep:hover{
    color:rgba(152, 69, 23, 1);
}

#btnDoc:hover{
    color:rgba(109, 53, 0, 1);
}

#btnSal:hover{
    color:rgba(148, 0, 0, 1);
}

#btnArt:hover{
    color:rgba(109, 0, 136, 1);
}

#btnAli:hover{
    color:#C0990F;
}

#btnRel:hover{
    color:rgba(189, 38, 101, 1);
}

#btnEdu{
    border-radius: 15px;
}

.btn0g{
    background: rgba(216, 216, 216, 0.67);
    min-width: 30em;
    position: absolute;
    top: 9.8em;
}

.btnConfig{
    background-color: rgba(57, 57, 57, 0.13);
    min-width: 15em;
    min-height: 2.4em;;
    text-align: left;
    border-radius: .8em;
    border-color: transparent;
}

.btn1g{
    background: rgba(242, 126, 17, 0.54);
}
 
.btn2g{
    background: rgba(30, 198, 67, 0.56);
}

.btn3g{
    background: rgba(224, 14, 14, 0.57);
}

.btn4g{
    background: rgba(235, 193, 44, 0.61);
}

.btn5g{
    background: rgba(255, 95, 162, 0.6);
}

.btn6g{
    background: rgba(66, 133, 244, 0.54);
}

.btn7g{
    background: rgba(167, 25, 203, 0.39);
}

.btn8g{
    background: rgba(109, 53, 0, 0.58);
}

#btnTec{
    border-radius: 15px;
}

#btnSal{
    border-radius: 15px;
}

#btnDep{
    border-radius: 15px;
}

#btnDoc{
    border-radius: 15px;
}

#btnSal{
    border-radius: 15px;
}

#btnArt{
    border-radius: 15px;
}


#btnRel{
    border-radius: 15px;
}

.App {
    font-family: sans-serif;
    text-align: center;
}
.modal{
    background: rgba(0, 0, 0, 0.6);
}
.modal-container {
    position: absolute;
    width: 60%;
    background: #ffffff;
    left: 25%;
    top: 30%;
    padding: 20px;
    border-radius: 40px;
    border-color: black ;
}
  
.descPub{
    width: 30em;
    background-color: rgba(196, 196, 196, 1);
    border-color: transparent;
    border-radius: 30px;
    height: 3em;
    outline: none;
}

.des{
    width: 35em !important;
    background-color: rgba(196, 196, 196, 1);
    border-radius: 30px;
}

.queDes{
    font-size: 2.125em;
}

.btnPub{
    width: 35em;
    height: 2.5em;
    background-color: rgba(196, 196, 196, 1);
    border-color: transparent;
    border-radius: 30px;
    outline: none;
    text-align: 20em;
}

.btnAña{
    width: 13em;
    height: 2.5em;
    background-color: rgba(196, 196, 196, 1);
    border-color: transparent;
    border-radius: 30px;
    outline: none;
    text-align: 20em;
}

.tituloGuard{
    background-color: rgba(30, 198, 67, 0.56);
    min-width: 35.15em;
    max-width: 35.15em;
    min-height: 4em;
    border-top-left-radius: .48em;
    border-top-right-radius: .48em;
    position: absolute;
    left: 1.44em;
    text-align: center;
    visibility: hidden;
    z-index: 0;
}

.pTitulo{
    font-size: 1.5em;
    position: relative;
    top: .6em;
}